<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhe.sportsReserveSys.mapper.VenueMapper">

    <resultMap id="BaseResultMap" type="com.yizhe.sportsReserveSys.model.entity.Venue">
            <id property="venue_id" column="venue_id" jdbcType="INTEGER"/>
            <result property="venue_name" column="venue_name" jdbcType="VARCHAR"/>
            <result property="venue_type" column="venue_type" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="facilities" column="facilities" jdbcType="VARCHAR"/>
            <result property="fee" column="fee" jdbcType="DOUBLE"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        venue_id,venue_name,venue_type,
        location,facilities,fee,
        create_time,update_time
    </sql>

</mapper>
